.hero {
    height: 100vh;
    background-color: #edf3ff;
    display: flex;
    align-items: center;
    padding-top: 150px;
    h1 {
        font-size: 46px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    h4,
    p {
        margin-bottom: 30px;
    }
    .button {
        margin-top: 20px;
    }
}
