aside {
    margin-top: 65px;
    background-color: #edf3ff;
    border-radius: 5px;
    padding: 30px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    h3 {
        font-weight: 500;
    }
    .clear {
        cursor: pointer;
        color: #ff497c;
    }
}
