.DarkModeToggle {
    position: relative;
    margin: 0 0 0 30px;
    width: 50px;
    height: 25px;
    border-radius: 15px;
    background-color: #f4f4f5;
    cursor: pointer;
    transition: 0.6s;
    z-index: 99;
    display: flex;
    &:before {
        position: absolute;
        left: 4px;
        bottom: 4px;
        width: 17px;
        height: 17px;
        content: "";
        border-radius: 50%;
        background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
        transition: 0.6s;
    }
    &.active {
        background-color: #303136;
        &:before {
            background: transparent;
            box-shadow: inset -3px -2px 5px -2px #8983f7,
                inset -10px -5px 0 0 #a3dafb;
            transform: translate(30px, 1px);
            left: 0;
            bottom: 5px;
        }
    }
}
