// Variables
$primary: #454545;
$blue: #2879fe;

header {
    .top {
        background-color: $blue;
        text-align: center;
        color: #fff;
        padding: 15px 0;
        font-size: 14px;
        a {
            color: #fff;
        }
    }
    .logo {
        color: $blue;
        font-size: 70px;
        line-height: 1;
        display: flex;
    }
    .main {
        padding: 10px 0;
    }
    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .single {
            margin-left: 20px;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                color: $blue;
                transition: all 0.3s ease;
            }
        }
    }
}
