// Variables
$primary: #454545;
$blue: #088dff;
$pink: #ff497c;

header {
    position: absolute;
    top: 0;
    width: 100%;
    .top {
        background-color: $blue;
        text-align: center;
        color: #fff;
        padding: 15px 0;
        font-size: 14px;
        a {
            color: #fff;
        }
    }
    .logo {
        color: $blue;
        font-size: 70px;
        line-height: 1;
        display: flex;
    }
    .main {
        padding: 10px 0;
    }
    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .single {
            margin-left: 20px;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            span {
                background-color: $pink;
                width: 20px;
                height: 20px;
                font-size: 13px;
                border-radius: 100%;
                color: #fff;
                position: absolute;
                top: -5px;
                right: -10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &:hover {
                color: $blue;
                transition: all 0.3s ease;
            }
        }
    }
}
