// Variables
$primary: #454545;
$blue: #088dff;

nav {
    display: flex;
    justify-content: center;
    &.dark {
        li {
            a {
                color: #fff;
                transition: all 0.3s ease;
            }
        }
    }
    ul {
        display: flex;
        li {
            a {
                text-transform: none;
                text-decoration: none;
                margin: 0 20px;
                color: $primary;
                transition: all 0.3s ease;
                &:hover {
                    color: $blue;
                }
            }
            .active {
                color: $blue !important;
            }
        }
    }
}
