// Variables
$primary: #454545;
$blue: #2879fe;

nav {
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        li {
            a {
                text-transform: none;
                text-decoration: none;
                margin: 0 20px;
                color: $primary;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}
