@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap");

// Variables
$primary: #333;
$blue: #088dff;
$pink: #ff497c;

/* Grid */

$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 100%,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 800px,
    lg: 1200px,
    xl: 1400px,
    xxl: 1600px,
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: $primary;
    overflow-x: hidden;
}

a,
a:hover,
a:focus {
    transition: all 0.3s ease;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

.container {
    max-width: 100%;
    padding: 0 150px;
    @include media-breakpoint-down(xl) {
        padding: 0 80px;
    }
    @include media-breakpoint-down(lg) {
        padding: 0 50px;
    }
}

.button {
    border-radius: 6px;
    line-height: 1.5;
    background-color: $blue;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 16px 38px;
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
        color: #fff;
    }
    &.button__pink {
        background-color: $pink;
    }
}

.product-section {
    padding: 150px 0;
}
